html,body{
    height: 100%;
    padding: 0%;
    margin: 0%;
   
}
.container{
   display: flex; 
   height: 100%;
   
}

.blogpage-UI{
    padding-left: 5% 5% 5% 5%;
}

#content{
    padding: 2% 2% 2% 2%;
    width: 80%;
    background-color: rgb(178, 174, 182);
    overflow-y: auto;
}

.sidebar{
    display: flex;
    flex-direction: column;
    align-content: center;
    height: 100%;
    width: 20%;
    background-image: linear-gradient(to bottom, 
    #fffdc2,
    #fffdc2 25%,
    #d7f0a2 25%,
    #d7f0a2 75%,
    #fffdc2 75%);
}


.navigation{
    text-align: center;
}

.navigation>.nav-item{
    padding: 2% 2% 2% 2%;
    
}

.social-link{
    height: 15%;
}

.short-bio{
    padding-left: 10%;
}
