html,body{
    height: 100%;
    padding: 0%;
    margin: 0%;
   
}
.main-container{
   display: flex; 
   text-align: center;
   height: 100%;
   
}
.side-bar{
    display: flex;
    flex-direction: column;
    align-content: center;
    height: 100%;
    width: 20%;
    background-image: linear-gradient(to bottom, 
    #fffdc2,
    #fffdc2 25%,
    #d7f0a2 25%,
    #d7f0a2 75%,
    #fffdc2 75%);
}

.short-bio{

}

.navigation{
    text-align: center;
}

.navigation>.nav-item{
    padding: 2% 2% 2% 2%;
    
}

.social-link{
    height: 15%;
}
.content{
    padding-left: 2%;
    background-image: url('/static/img/bg.jpg');
    background-size: 100% 100%;
    width: 80%;
    background-color: cornsilk;
}