<html>
    <head>
        <title>Bikash Jaiswal</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <header class="head">
            <h1>Introduction</h1><br/>
        </header>
       
       <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestias facilis ut, possimus fugit nihil repellendus corrupti sint quisquam aliquid alias eos modi eveniet cumque fuga vel voluptatem aspernatur! Ullam, ea.</p>

       <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam a pariatur amet? Aliquam accusantium nesciunt nihil. Architecto quod, dignissimos ab, dicta a iusto similique porro, autem perspiciatis nemo consequuntur sequi.</p>

        <script src="" async defer></script>
    </body>
</html>